.header {

    &__logo {
        display: flex;
        justify-content: center;
        padding-top: 5%;

        & img {
            @media only screen and (min-width: 1000px) {
                width: 20vw;
            }
            width: 50vw;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;

    }

}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 99999;
}