

<body>
    <div class="body___overlay"></div>
    <div class="body___row">
        <div class="body___row___col1">
            <img class="body___row___col1___img" [src]="'https://extra.durangueneidad.com/'+biography.imagen" alt="">
        </div>
        <div class="body___row___col1">
            <div class="body___row___col1___box">
                <h1 class="body___row___col1___box___name">JOSE</h1>
                <h1 class="body___row___col1___box___lastname">DE LA O HOLGUIN</h1>

                <h2 class="body___row___col1___box___text">"{{biography.biografia}}"</h2>
            
            </div>
        </div>
    </div>
   
</body>