.container {
    @media only screen and (min-width: 1000px) {
        margin-top: 35vh;
    }

    margin-top: 16vh;
}

.imgcard {
    @media only screen and (min-width: 1000px) {
        height: 70vh;
    }

    height: 30vh;
    object-fit: cover;
}

.clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas que deseas mostrar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) al final del texto cortado */
  }

  .card {
    cursor: pointer;
  }