
<app-header></app-header>
<body>
    <div class="body___search">
        <div class="body___search___div">
            <h1 class="body___search___div___title">Bienvenido</h1>
            <h5 class="body___search___div___subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis commodo turpis, sed euismod lorem eleifend et. Nam vestibulum.
            </h5>
            <div class="body___search___div___search">
                <app-search></app-search>
            </div>
        </div>
    </div>
    <h1 class="body___title">Contenido</h1>
    <div *ngFor="let item of articles">
        <app-card [item]="item"></app-card>
    </div>
</body>