<div class="menu">

    <div class="menu___item" *ngFor="let item of menuItems" (click)="clickItem(item)">
        <h5 [ngStyle]="{'color': item.selected ? '#FF354E': '#706F6F'}" class="menu___item___title">{{item.name}}</h5>
        <div [ngStyle]="{'opacity': item.selected ? '100%' : '0%'}" class="menu___item___line"></div>
    </div>
    
</div>

<div class="menuHBurger">
    <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="menu-list" [class.open]="isOpen">
      <li class="listyle" *ngFor="let item of menuItems"><a (click)="clickItem(item); toggleMenu()">{{item.name}}</a></li>
      <li style="margin: -14px 9px;"><a style="font-size: 9px; font-style: italic;">version 0.0.1</a></li>
    </ul>
  </div>